@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
  } 
  
  html {
    background-image: url('./images/pokemon_fundo_azul.jpg');
  }

  .login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  
  .login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .login-header img {
    width: 150px;
  }
  
  .login-header h1 {
    color: #d94231;
    font-size: 1.5em;
  }
  
  .login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 350px;
    outline: none;
    padding: 15px;
    width: 100%;
  } 

  .login-input2 {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 350px;
    outline: none;
    padding: 15px;
    width: 100%;
  } 

  .login-input::placeholder {

    font-size: 8.5px;
  } 

  .login-input2::placeholder {

    font-size: 8.5px;
  } 
  
  .login-button {
    background-color: #d94231;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
  }
  
  .login-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }